.bg-blue {
  background-color: #11172e;
}

.text-green {
  color: #00d56f;
}

.bg-green {
  background: #00d56f;
}

.theme-shadow {
  box-shadow: 10px 10px 0px rgba(255, 255, 255, 0.1);
}

.theme-border {
  border: 2px solid rgba(255, 255, 255, 0.7);
}

.theme-font-open {
  font-family: 'Open Sans';
}

ul {
  padding-left: 2em;
}

code {
  font-family: monospace;
  font-size: 100%;
}

/* .slide { */
/*     cursor: none; */
/* } */

.lucida {
  font-family: 'Lucida sans', sans-serif;
}

.theme-gray {
  color: #918f90;
}
.theme-dark-gray {
  color: #5a5758;
}

code {
  font-family: monospace;
  font-size: 100%;
}

.theme-font-open {
  font-family: 'Open Sans';
}

.theme-border {
  border: 1px solid black;
}
